<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registro</title>
</head>
<body>
    <h2>Crear una cuenta</h2>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="Nombre"><br>
        <input type="text" name="last_name" placeholder="Apellido"><br>
        <input type="text" name="username" placeholder="Nombre de usuario"><br>
        <input type="email" name="email" placeholder="Correo electrónico"><br>
        <input type="password" name="password1" placeholder="Contraseña"><br>
        <input type="password" name="password2" placeholder="Confirmar contraseña"><br>
        <input type="submit" value="Registrarse">
    </form>

    <div>
        {% for message in messages %}
        <p style="color: red;">{{ message }}</p>
        {% endfor %}
    </div>
</body>
</html>